@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(17, 17, 17);
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 109, 109);
    padding: 10px 50px;

    .logo{
        font-family: 'Aldrich', sans-serif;
        font-size: 34px;
        color: white;
    }
    .button{
        border: none;
        border-radius: 3px;
        outline: none;
        padding: 10px 30px;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: white;
        background-color: rgb(175, 175, 175);
        box-shadow: 0px 0px 2px black;
        &:hover{
            color: black;
            box-shadow: 0px 0px 5px gray;
            background-color: rgb(94, 94, 94);
        }
    }
}


.product__list{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px 100px;
}
.product__card{
    margin: 25px 80px 60px;
    padding: 10px 25px;
    width: 250px;
    min-height: 400px;
    border-radius: 3px;
    background-color: rgb(175, 175, 175);
    text-align: center;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
    .buy__button{
        padding: 5px 105px;
        border: none;
        outline: none;
        background-color: rgb(155, 65, 65);
        font-weight: 700;
        font-size: 20px;
        color: white;  
        cursor: pointer;
        &:disabled{
            background-color: gray;
        }
        &:disabled:hover{
            background-color: gray;
        }
        &:hover{
            color: black;
            background-color: darken($color: rgb(155, 65, 65), $amount: 10);
            outline: 3px  solid rgba(0, 0, 0, 0.452);
            outline-offset: -3px;
        }
    }
    .buy__game{
        color: rgb(143, 12, 12);
        font-weight: 700px;
        font-size: 28px;
        font-family: 'Ubuntu', sans-serif; 
        font-weight: 700;
        padding-bottom: 3px;
        background: radial-gradient(rgba(255, 255, 255, 0.651), transparent  70%);
        margin-bottom: 10px;
        border-bottom: 5px dashed rgb(94, 94, 94);
        text-shadow: 0px 0px 2px black;
    }
    .game__title{
        background: radial-gradient(rgba(255, 255, 255, 0.651), transparent  70%);
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif; 
        font-weight: 700;
        padding-bottom: 3px;
        margin-bottom: 10px;
        border-bottom: 5px dashed rgb(94, 94, 94);
        white-space: nowrap;
    }
    .game__img{
        width: 250px;
        height: 320px;
        overflow: hidden;
        float: inline-start;
        object-fit: cover;
        outline: 5px  solid rgb(255, 255, 255);
        outline-offset: -5px;
        margin-bottom: 15px;
    }
}

.order__form{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 550px);
    gap: 20px;
    .form__text{
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif; 
        font-weight: 700;
    }
    .form__input{
        border: none;
        outline: none;
        background-color: rgb(175, 175, 175);
        padding: 5px 10px;
        margin: 0px 5px;
        font-size: 20px;
    }
    .form__select{
        border: none;
        outline: none;
        background-color: rgb(175, 175, 175);
        padding: 5px 10px;
        font-size: 20px;
        margin: 0px 5px;  
    }
    .form__button{
        border: none;
        outline: none;
        background-color: rgb(155, 65, 65);
        font-weight: 700;
        padding: 10px 15px;
        font-size: 20px;
        margin: 0px 5px;
        color: white;  
        cursor: pointer;
        &:disabled{
            background-color: gray;
            cursor:not-allowed;
        }
        &:disabled:hover{
            background-color: gray;
            cursor:not-allowed;
        }
        &:hover{
            color: black;
            background-color: darken($color: rgb(155, 65, 65), $amount: 10);
            outline: 3px  solid rgba(0, 0, 0, 0.452);
            outline-offset: -3px;
        }
    }
}
.error__msg{
    color: red;
    font-size: 20px;
    text-align: center;
}

.btn__pageup{
    width:60px;
    border: 3px  solid rgba(0, 0, 0, 0.452);
    background:gray;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:30px;
    right:50px;
    cursor:pointer;
    color:rgb(14, 14, 14);
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
}